.contact-main {
  position: relative;
}

.contact-introduction {
  background-image: url("../../assets/contact_banner.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 460px;
}

.contact-title {
  color: rgb(0, 187, 255);
  margin: 20px auto;
  width: fit-content;
}

.contact-first-sec {
  width: 70%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact-item {
  text-align: center;
}

.contact-icon {
  color: black;
  background-color: white;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 10px 5px rgb(167, 167, 167);
  padding: 12px;
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}

.contact-second-sec {
  width: 60%;
  margin: 0 auto;
  padding: 20px;
}

.contact-second-sec-form {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.contact-form-input {
  padding: 5px 10px;
  font-size: 20px;
  flex-grow: 1;
  flex-basis: 200px;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 5px;
  box-shadow: 0 0 10px 4px rgba(63, 116, 136, 0.776) inset;
  transition: 0.5s;
}

.contact-form-input:hover {
  scale: 1.03;
  outline: rgb(0, 187, 255) 1px solid;
}

.contact-form-text-area {
  padding: 12px;
  font-size: 20px;
  flex-grow: 1;
  flex-basis: 300px;
  height: 150px;
  border: none;
  outline: none;
  border-radius: 5px;
  box-shadow: 0 0 10px 6px rgba(63, 116, 136, 0.776) inset;
  transition: 0.5s;
}

.contact-form-text-area:hover {
  scale: 1.03;
  outline: rgb(0, 187, 255) 1px solid;
}

.contact-form-button {
  padding: 10px;
  font-size: 20px;
  margin-top: 10px;
  flex-grow: 1;
  width: 150px;
  height: 45px;
  cursor: pointer;
  background-color: rgb(142, 225, 255);
  border: none;
  transition: 0.5s;
}

.contact-form-button:hover {
  background-color: rgb(0, 157, 214);
  color: white;
  border: 1px solid gray;
}
